@import url('https://github.com/PROBROVOVAyt/PROBROVOVAyt.github.io/blob/main/main/fonts/roboto/style.css');

* {
    font-family: 'Roboto', sans-serif; 
    background-color: #222222;
    color: white;
}